.svg-icon {
  path {
    fill: currentColor;
  }
}

.card.cell {
  cursor: pointer;
  user-select: none;
}

.card-title {
  font-weight: bold;
}

.card-description {
  max-height: 0px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.card-description.is-active {
  opacity: 1;
  max-height: 30px;
  padding: 0.5rem 0px 0.75rem 0px;
}

.card-footer {
  max-height: 0px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.card-footer.is-active {
  opacity: 1;
  max-height: inherit;
  padding: 0.5rem 0px 0.75rem 0px;
}

@media only screen and (max-width: 1000px) {
  .navbar-menu {
    display: block;
    opacity: 0;
    position: relative;
    padding: 0;
    left: 0;
    right: 0;
    max-height: 0px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    overflow: hidden;
  }

  .navbar-menu.is-active {
    max-height: 200px;
    padding: 0.25rem;
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}

.spinner {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -44px;

  display: none;

  border-radius: 50%;
  border: 14.1px solid currentColor;
  animation: spinner-bulqg1 0.8s infinite linear alternate, spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
