<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
    maximum-scale=1.0, user-scalable=no"
    />
    <title>{% block title %}{% endblock %} - Denny Lungu</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/index.css') }}"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav>
      <menu>
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </menu>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>

    <footer>&copy; Denny Lungu 2024</footer>
  </body>
</html>
