{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content
%}
<section class="hero">
  <div class="hero-content">
    <h2 class="hero-title">Hi, I'm Denny Lungu.</h2>
    <p class="hero-subtitle">
      I'm a student based in Brescia, Italy and I specialize in full stack
      development.
    </p>
  </div>
</section>

{% if 1 == 2%}
<section class="download-resume">
  <a
    href="{{ url_for('static',filename='resume.txt') }}"
    download="Denny_Lungu_CV.txt"
    target="_blank"
  >
    <button class="btn-resume">
      <img src="{{ url_for('static',filename='img/download.svg') }}" />Download
      resume (Italian)
    </button></a
  >

  <a
    href="{{ url_for('static',filename='resume.txt') }}"
    download="Denny_Lungu_CV.txt"
    target="_blank"
  >
    <button class="btn-resume">
      <img src="{{ url_for('static',filename='img/download.svg') }}" />Download
      resume (English)
    </button></a
  >
</section>
{%endif%} {% endblock %}
