{% extends "base.html.jinja" %}
{% block title %}Index{% endblock %}

{% block content %}

<section class="hero">
  <div class="hero-body">
    <h2 class="title">Hi, I'm Denny Lungu.</h2>
    <p class="subtitle">I'm a student based in Brescia, Italy and I specialize in full stack development.</p>
  </div>
</section>

{% endblock %}
