{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
<h2 class="title is-2">Projects</h2>

<div id="filters">
    <a id="show-filters" class="button">Filters</a>
    <div id="filters-content">
        <div class="field">
            <div class="control">
                <div class="select">
                    <select>
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projects-grid" class="fixed-grid">

</div>
{% endblock %}

{% block scripts %}
<script
        async
        defer
        src="{{ url_for('static',filename='js/projects.js') }}?v=1"
></script>
{% endblock %}
